@import 'variables';

.page-main__results {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.page-main__card {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    border: 1px solid $color1;
    border-radius: 10px;
    width: 700px;
    font-size: 14px;
}

.page-main__poster {
    margin-bottom: 15px;
    width: 150px;
    border: 5px solid $color1;
    border-radius: 5px;
}

.page-main__title {
    margin: 0;
    margin-bottom: 5px;
}

.page-main__kp-rating {
    display: inline-block;
    margin-bottom: 10px;
}

.page-main__description {
    margin-bottom: 10px;
    transition: all 1s ease;
    overflow: hidden;
    summary {
        padding: 3px 6px;
        margin-bottom: 5px;
        width: 100px;
        background-color: $color1;
        border-radius: 5px;
        color: $color2;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.2s;
        &:hover {
            background-color: $color3
        }
    }
    &[open] p {
        animation-name: growFont, fadeOut;
        animation-duration: 500ms, 200ms;
        animation-delay: 0ms, 500ms;
    }    
}

@keyframes growFont {
    0% {
        font-size: 0;
        opacity: 0;
    }
    100% {
        font-size: 1em;
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.page-main__release-year {
    display: inline-block;
    font-weight: 700;
}

.page-main__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-main__item:not(:last-child) {
    margin-right: 10px;
}

.page-main__link {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: $color3;
    &:hover {
        text-decoration: underline;
    }
}

.page-main__link_active {
    color: $color1;
}