@import 'variables';

.page-main__results {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.page-main__card {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    border: 1px solid $color1;
    border-radius: 10px;
    width: 900px;
}

.page-main__poster {
    width: 200px;
    border: 5px solid $color1;
}

.page-main__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-main__item:not(:last-child) {
    margin-right: 10px;
}

.page-main__link {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: $color3;
    &:hover {
        text-decoration: underline;
    }
}

.page-main__link_active {
    color: $color1;
}